{
  "env": {
    "node": true,
    "es6": true,
    "jest/globals": true
  },
  "extends": [
    "eslint:recommended",
    "airbnb-base"
  ],
  "plugins": [
    "jest"
  ],
  "rules": {
    "quotes": "off",
    "no-console": "off",
    "no-debugger": "off",
    "indent": ["off",4 ]
  }
}