@color-secondary: #627b8b;
@color-secondary-hover: #394f63;
@color-gray: #b0b8bc;
@color-background: #e1e4e7;
* {
    box-sizing: border-box;
}

.issues-wrapper {
    display: flex;
    
    .issue-item:not(:last-child) {
        margin-bottom: 10px;
        .title{
            font-size: 20px;
            font-weight: bold;
        }
    }
}